@import '~bulma/bulma.sass';
/*  */
/* body { */
/*   min-height: 1000px; */
/*   height: 100%; */
/*   width: 100%; */
/*   position: absolute; */
/*   margin: 15px 0; */
/* } */

.layout-area {
  height: 100%;
  width: 100%;
  background: #eee;
  border-right: 1px solid #dbdbdb;
}

.layout-area canvas {
  border: 1px solid red;
}

.control-area {
  cursor: pointer;

  ul.object-list {
    li {
      border: 1px solid #dbdbdb;
      border-left: none;
      border-top: none;

      &.active-object {
        background: rgba(0, 0, 255, 0.13);
      }

      &:first-child {
        border-top: 1px solid #dbdbdb;
      }

      &:hover {
        background: #eee;
      }
    }
  }
}

.tab-content {
  display: none;

  &.is-active {
    display: block;
  }
}
