body {
  min-height: 1000px;
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 15px 0;
}

.container-fluid,
.container-fluid .row {
  height: inherit;
}

.layout-area {
  height: 100%;
  width: 100%;
  background: #eee;
}

.layout-area canvas {
  border: 1px solid red;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.inline-block {
  display: inline-block;
}

.btn,
.custom-file input {
  cursor: pointer;
}

.custom-file-control.canvas-import-svg-file::before,
.custom-file-control.canvas-import-background-image-file::before {
  content: 'Import'
}
